<%= form_for @user, html: {multipart: true} do |f| %>
<% errors_messages = @user.errors.messages %>
<div class="row form-group">
	<div class="col-2">
		<%= f.label :username, 'Nombre Usuario' %>
	</div>
	<div class="col-6">
		<%= f.text_field :username, class: 'form-control', readonly: true %>
		<%= validation_error_tooltip(errors_messages, :username, {},{class: 'bg-danger'}) if errors_messages[:username].present? %>
	</div>
</div>
<div class="row form-group">
	<div class="col-2">
		<%= f.label :email, 'Email' %>
	</div>
	<div class="col-6">
		<%= f.text_field :email, class: 'form-control', readonly: true %>
		<%= validation_error_tooltip(errors_messages, :email, {},{class: 'bg-danger'}) if errors_messages[:email].present? %>
	</div>
</div>
<div class="row form-group">
	<div class="col-2">
		<%= f.label :name, 'Nombre' %>
	</div>
	<div class="col-6">
		<%= f.text_field :name, class: 'form-control' %>
		<%= validation_error_tooltip(errors_messages, :name, {},{class: 'bg-danger'}) if errors_messages[:name].present? %>
	</div>
</div>
<div class="row form-group">
	<div class="col-2">
		<%= f.label :birth_date, 'Fecha Nacimiento' %>
	</div>
	<div class="col-6">
		<div class="input-group date">
	    <%= f.text_field :birth_date , autofocus: true, class: 'form-control date', 'aria-describedby': 'date-span'%>
	    <%= validation_error_tooltip(errors_messages, :birth_date) if errors_messages[:birth_date].present? %>
	    <span class="input-group-append">
	      <span class="input-group-text fa fa-calendar" id="date-span"></span>
	    </span>
	  </div>
	<%= validation_error_tooltip(errors_messages, :birth_date, {},{class: 'bg-danger'}) if errors_messages[:birth_date].present? %>
	</div>
</div>
<div class="row form-group">
	<div class="col-2">
		<%= f.label :cl_image_props, 'Imagen' %>
	</div>
	<div class="col-6">
	<%= f.file_field :cl_image_props, class: 'form-control' %>
	<%= validation_error_tooltip(errors_messages, :cl_image_props, {},{class: 'bg-danger'}) if errors_messages[:cl_image_props].present? %>
	</div>
</div>
<div class="row">
	<div class="col-3">
		<%= f.submit (params[:action].include?('new') || params[:action].include?('create') ? 'Crear Usuario' : 'Editar Usuario') , class: 'btn btn-success'%>
	</div>
</div>
<% end -%>
<script type="text/javascript">
	$(function(){
		$('.form-control.date').datepicker({
			locale: 'es',
      format: 'DD/MM/YYYY',
      icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-arrow-up",
        down: "fa fa-arrow-down"
      }
		})
	})
</script>