<!DOCTYPE html>
<html>
  <head>
    <title>Randomizes !</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#">Randomizes WebPage</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Inicio">
          <a class="nav-link" href="index.html">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Inicio</span>
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <!-- left menu links list -->
        <%= render '/layouts/left_links_list' %>
        <!-- end left menu links -->
        <li class="dropdown-divider"></li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <!-- Top Menu -->
      <%= render '/layouts/top_nav_menu' %>
      <!-- end top menu -->
    </div>
  </nav>
	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item <%= ("#{controller_name}_#{action_name}").include?('home_index') ? 'active' : ''%>">
        	<%= link_to "#{fa_icon 'home fw'}Inicio".html_safe, home_index_path %>
        </li>
        <%= content_tag(:li, "#{fa_icon 'fw keyboard-o'}Chat".html_safe, class: 'breadcrumb-item active') if action_name.include?('chat') %>
        <%= content_tag(:li, "#{fa_icon 'fw gift'}RandomPage".html_safe, class: 'breadcrumb-item active') if action_name.include?('random') %>
      </ol>
			<%= yield %>
			<footer class="sticky-footer">
	      <div class="container">
	        <div class="text-center">
	          <small>Copyright © Your Website 2018</small>
	        </div>
	      </div>
	    </footer>
	    <!-- Scroll to Top Button-->
	    <a class="scroll-to-top rounded" href="#page-top">
	      <i class="fa fa-angle-up"></i>
	    </a>
		</div>
	</div>
</body>
</html>
